{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Numgen</title>
    <link rel="stylesheet" href="{% static 'core/style.css' %}" />
  </head>

  <body>
    <div class="container">
      <header>
        <h1 id="title">Chidi Codes Generator</h1>
        <p id="description">Kindly fill in your input values</p>
      </header>

      <form id="survey-form" method="post">
        {% csrf_token %}
        <div class="form-input">
          <label id="name-label">Row 1</label>
          <input
            type="text"
            name="Fixed Var 1"
            id="name"
            placeholder="Enter numbers and separate with , e.g 37,38,39"
            class="form-input-size"
            required
          />
        </div>
        <div class="form-input">
          <label id="email-label">Row 2</label>
          <input
            type="text"
            name="Fixed Var 2"
            id="email"
            placeholder="Enter numbers and separate with , e.g 47,48,49"
            class="form-input-size"
            required
          />
        </div>
        <div class="form-input">
          <label id="number-label"
            >Row 3
            <span style="color: red">*</span>
          </label>
          <input
            type="text"
            name="Var 1"
            id="number"
            placeholder="Enter numbers and separate with , e.g 57,58,59"
            min="0"
            max="80"
            class="form-input-size"
          />
        </div>
        <div class="form-input">
          <label id="number-label"
            >Row 4
            <span style="color: red">*</span>
          </label>
          <input
            type="text"
            name="Var 2"
            id="number"
            placeholder="Enter numbers and separate with , e.g 67,68,69"
            min="0"
            max="80"
            class="form-input-size"
          />
        </div>
        <div class="form-input">
          <label id="number-label"
            >Row 5
            <span style="color: red">*</span>
          </label>
          <input
            type="text"
            name="Var 3"
            id="number"
            placeholder="Enter numbers and separate with , e.g 77,78,79"
            min="0"
            max="80"
            class="form-input-size"
          />
        </div>

        <div class="form-input">
          <button type="submit" id="submit">Submit</button>
        </div>
      </form>
    </div>
  </body>
</html>
